body, html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
  margin: 0;
}

/* The hero image */
.carousel{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");

 /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner {
    height: 100vh;
}

/* Place text in the middle of the image */
.text {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
    /* position: absolute; */
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}

ul {
  display: flex;
}

ul li {
  color: white;
  list-style: none;
  margin-left: 20px;
}

ul li:last-child {
  margin-right: 120px;
  
}

.button {
  background: #333;
  opacity: 0.2;
  border: none;
  color: white;
}

.button-left {
  position: absolute;
  top: 50vh;
  padding: 15px;
  border-radius: 50%;
}

i {
  color: white;
  font-size: 30px;
}

.button-right {
  position: absolute;
  top: 50vh;
  right: 0;
}
 